* {
    box-sizing: border-box;
}

:root {
    --halfHeight: calc(100vh/2);
}

html, body {
    height:100%;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

#js-map-outer {
    min-height: var(--halfHeight);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#js-map-inner {
    min-height: var(--halfHeight);
    width: 100%;
}

.custom-map-control:hover {
    background-color: lightgrey;
}

.btn-about-logo {
    vertical-align: middle;
}

.about-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 10%;
    background-color: rgba(200, 200, 200, .9);
    z-index: 2;
}

.about-overlay-content {
    position: relative;
    padding: 10%;
    line-height: 1.5rem;
    color: whitesmoke;
    background-color: rgba(25, 25, 25, .9);
    width: 50%;
    min-height: 75%;
    margin: auto auto;
}

.about-overlay-hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.about-overlay-content.la-logo {
    display: inline-block;
}

.about-overlay-content h1 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}

.about-overlay a:link, .about-overlay a:visited {
    color: beige;
}

.about-overlay a:hover, .about-overlay a:active {
    color: whitesmoke;
    text-shadow: lightgrey .05em .05em .1em;
}

#js-launch-list {
    width: 100%;
    min-height: var(--halfHeight);
    position: absolute;
    top: var(--halfHeight);
    background-color: #add8f2;;
}

.launch-list-item {
    display: flex;
    cursor: pointer;
    padding: 10px;
    background-color: whitesmoke;
    line-height: 1.5rem;
    width: 80%;
    margin: 10px auto;
    border-radius: 7px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2), 0 10px 10px 0 rgba(0, 0, 0, .1);
}

.launch-list-item-selected {
    background-color: beige;
}

.launch-list-item a:link, .launch-list-item a:visited {
    color: blue;
}

.launch-list-item a:hover, .launch-list-item a:active {
    color: blue;
    text-shadow: grey .05em .05em .1em;
}

.rocket-image {
    min-width: 20%;
    max-width: 20%;
    max-height: 30vh;
    margin-right: 10px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    border-radius: 7px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2), 0 10px 10px 0 rgba(0, 0, 0, .1);
}

.error {
    font-weight: bold;
}

@media screen and (max-width: 420px) {
    
    .launch-list-item {
        width: 95%;
    }

    .about-overlay-content {
        width: 90%;
        margin: 10px auto;
        padding: 20px;
    }
}


@media screen and (max-width: 1024px) {

    .rocket-image {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    
    .launch-list-item h1 {
        line-height: 2.5rem;
    }
}