* {
    box-sizing: border-box;
}

:root {
    --halfHeight: calc(100vh/2);
}

html, body {
    height:100%;
}

#js-map-outer {
    min-height: var(--halfHeight);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#js-map-inner {
    min-height: var(--halfHeight);
    width: 100%;
}

.btn-about-logo {
    vertical-align: middle;
}

.about-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, .9);
    z-index: 2;
}

.about-overlay-content {
    position: relative;
    padding: 15px;
    color: white;
    background-color: rgba(25, 25, 25, .9);
    width: 50%;
    min-height: 75%;
    margin: 30px auto;
}

.about-overlay-hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.about-overlay-content.la-logo {
    display: inline-block;
}

.about-overlay-content h1 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}

#js-launch-list {
    min-height: var(--halfHeight);
    position: absolute;
    top: var(--halfHeight);
    background-color: lightblue;
}

.launch-list-item {
    padding: 10px;
    background-color: whitesmoke;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2), 0 10px 10px 0 rgba(0, 0, 0, .1);
}

.launch-list-item-selected {
    background-color: beige;
}

@media screen and (max-width: 420px) {
    .launch-list-item {
        width: 95%;
    }

    .about-overlay-content {
        width: 90%;
        margin: 10px auto;
    }
}